@font-face {
    font-family: HelveticaLT;
    src: url("Helvetica_LT_Std/HelveticaLTStd-Roman.otf") format("opentype"), url("Helvetica_LT_Std/HelveticaLTStd-Bold.otf") format("opentype"), url("Helvetica_LT_Std/HelveticaLTStd-Light.otf") format("opentype"), url("Helvetica_LT_Std/HelveticaLTStd-UltraComp.otf") format("opentype");
}

body {
    font-family: HelveticaLT;
}

.logo {
    width: 6rem;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    color: #000;
}

.button_toggler {
    margin: 2rem;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
}

#contacto {
    background-color: #000;
    color: white;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.contacto {
    margin: 0;
    padding: 8px;
    list-style: none;
}

.contacto li a {
    font-family: HelveticaLT;
    color: white;
    text-decoration: none;
}

.nav-link {
    color: black;
}

@media(min-device-width: 768px) {
    .sendMessage {
        display: none;
    }
    .navbarVertival {
        width: 8rem;
        height: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #FDED00;
    }

    .containerIntro {
        padding-top: 0;
        margin-top: 0;
        padding-left: 8rem;
    }
}

@media(max-device-width: 768px) {
    .numberWhats {
        display: none;
    }

    .navbarVertival {
        width: 100%;
        height: 4rem;
        position: fixed;
        background-color: #FDED00;
    }

    .containerIntro {
        padding-top: 0;
        margin-top: 0;
        margin-left: 0;
    }
    #videoContainer{
      padding-top: 100px !important;
    }
}
