/* MAIN-BG.CSS contains Background Image paths & definition rules powered by CSS
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.stats-bg {
    background-image: url('../images/bg/06.jpg');
}

.contact-bg {
    background-image: url('../images/bg/02.jpg');
}

.team-01-carousel-item-01 {
    background-image: url('../images/Finales/Finales/Sindy/Sindy_sinFondo3.png');
}

.team-01-carousel-item-02 {
    background-image: url('../images/Finales/Finales/Alex/Alex_sinFondo2.png');
}

.team-01-carousel-item-03 {
    background-image: url('../images/Finales/Finales/Yo/Yo_sinFondo3.png');
}

.team-01-carousel-item-04 {
    background-image: url('../images/Finales/Finales/Web/web_sinFondo2.png');
}

.project-01-carousel-item-01 {
    background-image: url('../images/project/project01/01.jpg');
}

.project-01-carousel-item-02 {
    background-image: url('../images/project/project01/02.jpg');
}

.project-01-carousel-item-03 {
    background-image: url('../images/project/project01/03.jpg');
}

.parallax-showcase-01 {
    background-image: url('../images/featured/01.jpg');
}

.parallax-showcase-02 {
    background-image: url('../images/featured/02.jpg');
}

.parallax-showcase-03 {
    background-image: url('../images/featured/03.jpg');
}